body{
    background-color: darkblue;
    display: flex;
    justify-content: center;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;


}
.btn-grid {
    margin: 20px 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
} 
.start-btn {
    background-color: gray;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
}
.btn {
    background-color: coral;

}

.container #question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
    display: auto;
    
}


