.startButton {
    color: red;
    font-size: 40px;
    
}
.a {
    color: black;
}

.container-fluid {
    width: 100%;
}
.container {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

